models/*/*onnx
__pycache__/
launch.json
*.egg-info/
notebooks/*/.ipynb_checkpoints/
*.log
*.pyd
*bin
*jpg
.pytest_cache/
.vscode/
.in
freeze.txt
notebooks/sample_app_hrnet_ARM64.py
*profil*csv
*data
*checkpoint.ipynb
*checkpoints
DEV*